#chatbox-container {
  float: left;
  width: 500px;
  height: 440px;
}

#my-submit-button {
  float: left;
}

#my-text-field {
  width: 358px;
  float: left;
}

.message-list-box-item {
  font-size: 13px;
}

.message-td {
  width: 130px;
}